<div class="language-switcher-simple">
    <div class="btn-group float-end mb-3">
        <a href="?lang=sk" class="btn btn-sm {% if language == 'sk' %}btn-primary{% else %}btn-outline-primary{% endif %}">
            <img src="/static/flags/sk.svg" width="24" height="16" alt="Slovak" title="Slovenčina">
        </a>
        <a href="?lang=en" class="btn btn-sm {% if language == 'en' %}btn-primary{% else %}btn-outline-primary{% endif %}">
            <img src="/static/flags/en.svg" width="24" height="16" alt="English" title="English">
        </a>
    </div>
</div>
